/* ヘッダー */
.header {
  height: 30px;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 10px 20px;
}
.logo {
  height: 30px;
}
.header-nav {
  /* margin: 5px 20px 20px 0; */
}
.nav-list {
  display: flex;
  font-size: 14px;
  color: rgb(109, 109, 109);
}
.nav-list li {
  padding: 5px
}

/* tittle */
.ttl {
  position: relative;
  height: 500px;
}
.ttl-img {
  height: 500px;
  width: 60%;
  margin-left: 40%;
}
.concept {
  position: absolute;
  top: 80px;
  left: 270px;
}
.ttl h1 {
  font-family: 'Indie Flower', cursive;
  font-size: 55px;
  color: rgb(175, 25, 100);
  line-height: 80px;
  padding-bottom: 30px;
}
.ttl span {
  color: rgb(12, 145, 150);
}
.ttl h2 {
  font-size: 20px;
  color: rgb(175, 25, 100);
  padding-bottom: 10px;
  margin-top: 15px;
}
.ttl p {
  line-height: 20px;
  color: darkgrey;
  font-size: 13px;
}
/* News */
.news-all {
  /* margin: 0 auto; */

}
.news {
  width: 600px;
  margin: 0 auto;
}
.news p {
  font-family: 'Indie Flower', cursive;
  color: rgb(175, 25, 100);
  padding-top: 70px;
}
.news h2 {
  color: rgb(109, 109, 109);
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 20px;
}
.news-main {
  width: 554px;
  height: 300px;
  margin-bottom: 60px;
  border-bottom: solid 2px rgb(199, 203, 209) ;
}
table {
  color: darkgrey;
  line-height: 200%;
  border: rgb(199, 203, 209) solid;
  border-width: 2px 0 0 0;
  margin-bottom: 70px;
  /* width: 60%; */
}
table tr {
  font-size: 12px;
  line-height: 100%;
  border-bottom: rgb(199, 203, 209)  solid;
  border-width: 1px;
  
}
table th {
  padding: 20px 0 20px 0;
}
table tr:nth-child(5) {
  
}
.news th:nth-child(2) {
  color: white;
  display: block;
  width: 60px;
  border-radius: 20px;
  padding: 2px 10px;
  margin: 0 20px;
  background-color: rgb(180, 33, 107);
}
.news th:nth-child(3) {
  padding-right: 100px;
}
/* About */
.about-all {
  background-color: rgb(247, 245, 245);
}
.about {
  margin: 20px 100px;
}
.about-top {
  text-align: center;
}
.about-ttl {
  font-family: 'Indie Flower', cursive;
  font-size: 14px;
  color: rgb(175, 25, 100);
  padding-top: 30px;
}
.about h2 {
  font-size: 20px;
  margin: 20px 0;
  color: rgb(94, 88, 88);
}
.about-content {
  display: flex;
  justify-content: space-around;
  padding: 10px 0 40px 0;
}
.about-img {
  width: 300px;
  height: 200px;
}
.about-main {
  width: 340px;
  font-size: 14px;
  line-height: 25px;
  color: rgb(129, 120, 120);
}


/* Service */
.service {
  height: 400px;
  width: 850px;
  margin: auto;
  color: azure;
  
}
.service-top {

}
.service-ttl {
  font-family: 'Indie Flower', cursive;
  font-size: 14px;
  color: rgb(175, 25, 100);
}
.service h2 {
  font-size: 20px;
  margin: 20px 0;
  color: rgb(94, 88, 88);
}
.service-grid {
  display: grid;
  grid-template-rows: 150px 150px;
  grid-template-columns: 1fr 1fr;
}
.service-grid img {
  width: 120px;
  height: 120px;
  padding: 10px;
  margin: auto 0;
}
.service-grid p {
  font-size: 12px;
  width: 300px;
  margin: auto;
}
.box1 {
  grid-column: 1/2;
  grid-row: 1/3;
  text-align: center;
  background-color: rgb(170, 11, 72);
}
.box1 p {
  text-align: left;
  line-height: 20px;
  margin-top: 20px;
}
.box2 {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  background-color: rgb(206, 97, 152);
}
.box2 h3 {
  margin: 30px 10px 20px 10px;
}
.box2 p {
  width: 220px;
  margin: 0 10px;
  line-height: 20px;
}
.box3 {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  background-color: rgb(179, 153, 172);
}
.box3 h3 {
  margin: 30px 10px 20px 10px;
}
.box3 p {
  width: 220px;
  margin: 0 10px;
  line-height: 20px;
}
/* Blog */
.blog {
  background-color: rgb(247, 245, 245);
}
.blog-main {
  margin: 0 auto;
  padding: 30px 0;
  width: 65%;
}
.blog-top {
  margin: 10px 0;
}
.blog-top p {
  line-height: 40px;
   font-family: 'Indie Flower', cursive;
  font-size: 14px;
  color: rgb(175, 25, 100);
}
.blog h2 {
  font-size: 20px;
  color: rgb(94, 88, 88);
}
.wrapper {
  display: flex;
    justify-content: space-between;
    margin: 0 auto;
    
}
.blog-img {
  
}
.blog-img img {
  
  background-size: contain;
  height: 170px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.card {
  width: 230px;
  margin: 20px 20px 20px 0;
  border-radius: 20px;
  background-color: white;
  cursor: pointer;
  position: relative;
  
}
.card-name {
  border-top-left-radius: 20px;
  position: absolute;
  top: 0;
  color: azure;
  background-color: rgb(175, 25, 100);
  font-size: 14px;
  padding: 5px 10px 5px 10px;
}
.text-box {
  padding: 15px;
  color: rgb(94, 88, 88);
}
.text-box h3 {
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 30px;
}
.text-box p {
  font-size: 12px;

}
.card-bottom {
  display: flex;
  justify-content: space-between;
  
}
.blog button {
  display: block;
  text-align: center;
  padding: 10px 40px;
  border: solid 2px rgb(136, 0, 68);
  border-radius: 20px;
  margin: auto;
  background-color: white;
  
}
.blog a {
  text-decoration: none;
  font-size: 12px;
  color: rgb(136, 0, 68);
}

/* Company */
.company {
  
}
.company-content {
  margin: 50px auto;
  width: 700px;
}
.company-ttl {
  font-family: 'Indie Flower', cursive;
  font-size: 14px;
  color: rgb(175, 25, 100);
  line-height: 30px;
  font-size: 14px;
}

.company-content h2 {
  font-size: 20px;
  margin-bottom: 30px;
  color: rgb(94, 88, 88);
}
.company-table {
  text-align: left;
  width: 100%;
}
.company-table th,
.company-table td {
  border: 1px solid rgba(182, 182, 182, 0.959);
  color: rgba(97, 95, 95, 0.973);
  padding-left: 10px;
}
.company-table th {
  background-color: rgb(247, 245, 245);
}

/* Article */
.article {
  display: flex;
  
}
.info {
  position: relative;
}
.article span {
  color: azure;
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  top: 40%;
  left: 40%;
}
.interview {
  position: relative;
}

.img-recruit {
  display: inline-block;
  width: 100%;
  height: 90%;
}
.img-interview {
  display: inline-block;
  width: 100%;
  height: 90%;
}

/* Contact */
.contact-main {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  
}
.contact h3 {
  margin: 50px 0;
    color: rgb(94, 88, 88);
}
.contact button::before {
  position: absolute;
  content: "";
  top: -40px;
  left: 0;
  right: 0;
  width: 2px;
  height: 30px;
  margin: auto;
  background-color: rgb(151, 14, 144);
}
.contact button {
  display: block;
  text-align: center;
  padding: 16px 80px;
  border: none;
  border-radius: 30px;
  box-shadow: 0 8px 0 rgb(156, 11, 149) ;
  margin: 30px auto 70px auto;
  background: linear-gradient(90deg, rgb(236, 37, 137),rgb(175, 25, 100));
  position: relative;
  font-size: 15px;
  
}

.contact a {
  color: white;
  text-decoration: none;
}
.mail {
  width: 25px;
  height: 25px;
  position:absolute;
  top: 15px;
  left: 32px;
}
/* footer */
footer {
  width: 100%;
  background-color: rgb(247, 245, 245);
  padding: 20px 0;
  text-align: center;
}
.copyright {
  font-size: 10px;
  color: rgb(121, 113, 113);
}